h1{
	text-align:center;
}

h1 a{
	color:#eee;
}

h1 a:hover{
	text-decoration:none;
	color:#fff;
}

#header{
	background-color:#222;
	width:100%;
	float:left;
	margin:0 auto;
	color:#fff;
}
body{
	width:auto;
}

#wrapper{
	width:auto;
	float:left;
}

#jumbotron{
	float: left;
    width: 100%;
    margin: 0 auto;
	padding: 0;
	
}

#jumbotron .addbook-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 500px;
}

#jumbotron .add-subscription-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 500px;
}

#jumbotron .add-sum-org-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 62px;
    padding-bottom: 500px;
}

#profile-sum-org-panel-heading{
	text-align:center;
	font-weight:600;
	font-size:18px;
}

#jumbotron .profile-sum-org-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 62px;
    padding-bottom: 500px;
}

#jumbotron .viewbook-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 630px;
}

#jumbotron .terms-sub-container{
	padding-top:80px;
	padding-bottom:100px;
}

#jumbotron .view-subcrb-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 630px;
}

#jumbotron .add-subscription-sub-container form{
	width:496px;
	margin: 0 auto;
}

#jumbotron .add-subscription-sub-container .input{
	width:495px;
	margin: 0 auto;
}

#jumbotron .add-subscription-sub-container .input input{
	padding-left:5px;
}

#jumbotron .viewbook-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron .view-subcrb-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron .del-book-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 630px;
}

#jumbotron .del-book-sub-container button{
	margin: 0 auto;
	margin-left: 357px;
    margin-top: 57px;
}

#jumbotron .update-book-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 183px;
    padding-bottom: 630px;
}

#jumbotron .booklist-sub-container h2{
	text-align:center;
	margin:0 auto;
}

#jumbotron .add-subscription-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}

#jumbotron .add-sum-org-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom: 105px;
}

#jumbotron .update-book-sub-container h2{
	text-align:center;
	margin:0 auto;
	padding-bottom:20px;
}
#jumbotron .content h2{
	text-align:center;
	font-size:50px;
	margin:0 auto;
}

#jumbotron .booklist-sub-container{
	width:850px;
	margin: 0 auto;
	padding-top: 21px;
    padding-bottom: 300px;
}

#jumbotron .addbook-sub-container label{
	margin-left:228px;
}

#jumbotron .add-sum-org-sub-container label{
	margin-left:228px;
}

#jumbotron .update-book-sub-container label{
	margin-left:228px;
}

#jumbotron .add-sum-org-sub-container textarea{
	margin-top:40px;
}

#jumbotron .add-sum-org-sub-container button{
	margin-top:20px;
	margin-left:70px;
}

#jumbotron .form-group{
	margin:0;
	padding:0;
}

#jumbotron .add-sum-org-sub-container .add-button{
	margin-left:300px;
}

#jumbotron .book-list{
	width:750px;
	padding-left:295px;
	padding-top:17px;
}

#jumbotron .book-list tr th, tr td, tr td button{
	text-align:center;
}

#jumbotron .book-list tr th, tr td{
	padding:3px;
}

#jumbotron .book-list tr td{
	font-size:15px;
}

#jumbotron .paginating{
	margin: 0 auto;
    padding-left: 26px;
	padding-top: 22px;
}

#jumbotron .list-sum-org-pagination{
	margin:0 auto;
	padding:0;
	width:232px;;
}

#footer{
	background-color:#222;
	width:100%;
	float:left;
	margin:0 auto;
	color:#eee;
	padding:0;
	padding-top:15px;
	padding-bottom:15px;

}

#footer p{
	text-align:center;
	margin:0 auto;
	font-size:15px;
}
